@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Geometria.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  font-weight: 500;
  font-style: medium;
  src: url('../fonts/Geometria-Medium.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Geometria-Bold.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  font-weight: 900;
  font-style: heavy;
  src: url('../fonts/Geometria-Heavy.woff') format('woff2');
  font-display: swap;
}

